#ifndef VERSION_HEADER
#define VERSION_HEADER

#define PXV	"1"	// base version
#define PXMPV	"05"	// multi player version
#define PXRV	"786"	// revision
#define PXBV	"1"	// build flag (official releases should NOT use this flag)

#ifdef PXBV
#define ProjectXVersion			"ProjectX " PXV "." PXMPV "." PXRV
#else
#define ProjectXVersion			"ProjectX " PXV "." PXMPV "." PXRV "-" PXBV
#endif

#define ProjectXVersionTip		"SHIFT + F12 Fullscreen - Pause/Break to toggle mouse"

#endif
