
// set the variable bellow to a desired string such as "1.04.605"
// do not attempt to commit this file it's ignored and only used locally

#ifndef VERSION_HEADER
#define VERSION_HEADER

#define ProjectXVersion			"ProjectX x.x.x" // version number
#define ProjectXVersionTip		"F12 Fullscreen - Pause/Break to toggle mouse"

#endif
