NAME		KILLME
BIKE		3
BIKECOMP		1
AUTOLEVEL		0.000000
INVERT		0
INVERT_TURN	0
SENSITIVITY		0.625000 0.625000
UP		DIK_CURSOR_UP
DOWN		DIK_CURSOR_DOWN
LEFT		DIK_CURSOR_LEFT
RIGHT		DIK_CURSOR_RIGHT
FORWARD		DIK_A
BACKWARD		DIK_Z
MOVE_UP		DIK_CAPS_LOCK
MOVE_DOWN		DIK_LEFT_SHIFT
MOVE_LEFT		DIK_X
MOVE_RIGHT		DIK_C
ROLL_LEFT		DIK_NUMPAD_1
NITRO		DIK_S
FIRE1		DIK_LEFT_CONTROL
FIRE2		DIK_SPACE
MINE		DIK_NUMPAD_0
NEXT1		DIK_PAGE_DOWN
NEXT2		DIK_HOME
PREV1		DIK_PAGE_UP
PREV2		DIK_END
SENDTEXT		DIK_ENTER
FULL_REARVIEW		DIK_R
HEADLIGHTS		DIK_H
SELECT1		1	DIK_GRAVE
SELECT1		2	DIK_1
SELECT1		3	DIK_4
SELECT1		4	DIK_3
SELECT1		5	DIK_2
SELECT1		6	DIK_5
SELECT2		1	DIK_6
SELECT2		2	DIK_7
SELECT2		4	DIK_8
SELECT2		5	DIK_9
SELECT2		6	DIK_0
SELECT2		7	DIK_-
SELECT2		8	DIK_Y
SELECT2		9	DIK_U
SELECT2		10	DIK_I
DROP1		DIK_K
DROP2		DIK_L
PREFERRED1		 1 5 4 2 3 0
PREFERRED2		 5 2 3 1 4 6 0 9 8 7 10
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
