NAME		DEADLY
BIKE		12
BIKECOMP		4
AUTOLEVEL		0.000000
INVERT		1
INVERT_TURN	0
SENSITIVITY		2.000000 2.000000
FORWARD		DIK_W
BACKWARD		DIK_S
MOVE_UP		DIK_E
MOVE_DOWN		DIK_D
MOVE_LEFT		DIK_F
MOVE_RIGHT		DIK_G
NITRO		DIK_W
FIRE1		DIK_MOUSE_1
FIRE2		DIK_MOUSE_2
MINE		DIK_LEFT_SHIFT
NEXT1		DIK_A
NEXT2		DIK_CAPS_LOCK
SENDTEXT		DIK_ENTER
HEADLIGHTS		DIK_SPACE
SELECT1		6	DIK_WHEEL_UP
SELECT2		7	DIK_WHEEL_DOWN
DROP1		DIK_Q
DROP2		DIK_TAB
DROPSHIELD		DIK_1
DROPAMMO		DIK_GRAVE
SHOW_MESSAGES		DIK_CURSOR_UP
SHOW_STATS		DIK_CURSOR_DOWN
PREFERRED1		 3 2 4 1 5 0
PREFERRED2		 6 4 3 1 5 0 9 8 7
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
JOYSTICK
Microsoft SideWinder Precision 2
AXISX 0 20 50 1 3
AXISY 0 20 50 1 1
AXISRZ 0 20 50 1 0
AXISS1 0 20 50 1 0
