NAME		BDB
BIKE		10
BIKECOMP		4
AUTOLEVEL		0.000000
INVERT		0
INVERT_TURN	0
SENSITIVITY		0.625000 0.625000
FORWARD		right_ctrl
MOVE_UP		up
MOVE_DOWN		down
MOVE_LEFT		left
MOVE_RIGHT		right
NITRO		[0]
PREV1		page_up
PREV2		end
SENDTEXT		return
SENDSPEECH		enter
SELECT1		1	`
SELECT1		2	1
SELECT1		3	4
SELECT1		4	3
SELECT1		5	2
SELECT1		6	5
SELECT2		1	6
SELECT2		2	7
SELECT2		4	8
SELECT2		5	9
SELECT2		6	0
SELECT2		7	a
SELECT2		8	y
SELECT2		9	u
SELECT2		10	i
SELECT2		11	o
PREFERRED1		 5 4 1 2 3 0
PREFERRED2		 6 3 5 4 1 0 9 8 7
MACRO1	Aint no fun when the rabbit has the gun...
MACRO2	Great shot, i'm feelin your pain...
MACRO3	Ouch, that hurt my pride...
JOYSTICK
Logitech Extreme 3D Pro USB
BUTTON 3 11
BUTTON 0 16
BUTTON 5 17
BUTTON 2 18
POVDIR 0 0 5
POVDIR 0 1 6
POVDIR 0 2 19
POVDIR 0 3 21
AXISX 0 5 50 1 3
AXISY 1 30 0 1 1
AXISRZ 0 20 50 1 0
AXISS1 0 20 50 1 0
JOYSTICK
ThrustMaster TOP GUN Platinum
AXISX 0 5 20 1 3
AXISY 0 20 50 1 1
AXISS1 0 20 50 1 0
JOYSTICK
Microsoft SideWinder Precision Pro
AXISX 0 35 80 1 3
AXISY 1 25 80 1 1
AXISRZ 0 20 50 1 0
