NAME		BIKE
BIKE		13
BIKECOMP		1
AUTOLEVEL		0.050000
INVERT		1
INVERT_TURN	0
SENSITIVITY		2.000000 2.000000
FORWARD		d	s	a
BACKWARD		v
MOVE_UP		s
MOVE_DOWN		a
MOVE_LEFT		a
MOVE_RIGHT		s
NITRO		a	s
FIRE1		left_mouse
FIRE2		middle_mouse
MINE		b
NEXT1		down_mouse
PREV1		up_mouse
SENDTEXT		return
SELECT1		1	4
SELECT1		2	3
SELECT1		3	w
SELECT1		4	2
SELECT1		5	x
SELECT1		6	z
SELECT2		2	right_mouse
SELECT2		4	space
SELECT2		5	up_mouse
SELECT2		6	caps_lock
SELECT2		7	t
SELECT2		11	o
DROP1		caps_lock
DROP2		p
PREFERRED1		 3 1 0 5 4 2
PREFERRED2		 3 6 4 1 5 0 9 8 7
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
JOYSTICK
Microsoft SideWinder Precision Racing Wheel
BUTTON 2 15
BUTTON 0 16
BUTTON 1 17
BUTTON 3 18
BUTTON 4 19
BUTTON 5 21
AXISX 0 20 50 1 0
AXISY 1 20 60 1 12
AXISRZ 0 20 50 1 0
JOYSTICK
ACT LABS Force RS
BUTTON 2 15
BUTTON 0 16
BUTTON 1 17
BUTTON 3 18
BUTTON 4 19
BUTTON 5 21
AXISX 0 20 50 1 0
AXISY 1 20 60 1 12
AXISZ 0 20 50 1 0
