NAME		BIKE
BIKE		13
BIKECOMP		1
AUTOLEVEL		0.050000
INVERT		1
INVERT_TURN	0
SENSITIVITY		2.000000 2.000000
FORWARD		DIK_D	DIK_S	DIK_A
BACKWARD		DIK_V
MOVE_UP		DIK_S
MOVE_DOWN		DIK_A
MOVE_LEFT		DIK_A
MOVE_RIGHT		DIK_S
NITRO		DIK_A	DIK_S
FIRE1		DIK_MOUSE_1
FIRE2		DIK_MOUSE_2
MINE		DIK_B
NEXT1		DIK_WHEEL_DOWN
PREV1		DIK_WHEEL_UP
SENDTEXT		DIK_ENTER
SELECT1		1	DIK_4
SELECT1		2	DIK_3
SELECT1		3	DIK_W
SELECT1		4	DIK_2
SELECT1		5	DIK_X
SELECT1		6	DIK_Z
SELECT2		2	DIK_MOUSE_3
SELECT2		4	DIK_SPACE
SELECT2		5	DIK_WHEEL_UP
SELECT2		6	DIK_CAPS_LOCK
SELECT2		7	DIK_T
SELECT2		11	DIK_O
DROP1		DIK_CAPS_LOCK
DROP2		DIK_P
PREFERRED1		 3 1 0 5 4 2
PREFERRED2		 3 6 4 1 5 0 9 8 7
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
JOYSTICK
Microsoft SideWinder Precision Racing Wheel
BUTTON 2 15
BUTTON 0 16
BUTTON 1 17
BUTTON 3 18
BUTTON 4 19
BUTTON 5 21
AXISX 0 20 50 1 0
AXISY 1 20 60 1 12
AXISRZ 0 20 50 1 0
JOYSTICK
ACT LABS Force RS
BUTTON 2 15
BUTTON 0 16
BUTTON 1 17
BUTTON 3 18
BUTTON 4 19
BUTTON 5 21
AXISX 0 20 50 1 0
AXISY 1 20 60 1 12
AXISZ 0 20 50 1 0
