NAME		TERM.........
BIKE		15
BIKECOMP		1
AUTOLEVEL		0.000000
INVERT		0
INVERT_TURN	0
SENSITIVITY		2.000000 2.000000
CDAUD	0
FORWARD		DIK_NUMPAD_7
BACKWARD		DIK_NUMPAD_8
MOVE_UP		DIK_NUMPAD_ENTER
MOVE_DOWN		DIK_NUMPAD_.
MOVE_LEFT		DIK_PAGE_UP
MOVE_RIGHT		DIK_NUMPAD_9
ROLL_LEFT		DIK_T
ROLL_RIGHT		DIK_Y
NITRO		DIK_NUMPAD_7
FIRE1		DIK_MOUSE_1
FIRE2		DIK_MOUSE_2
MINE		DIK_MOUSE_3
NEXT1		DIK_WHEEL_UP
NEXT2		DIK_WHEEL_DOWN
SENDTEXT		DIK_SPACE
SELECT2		11	DIK_O
PREFERRED1		 5 4 1 2 3 0
PREFERRED2		 6 3 5 4 1 0 9 8 7
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
VALIDATE	2095194708
JOYSTICK
P880
AXISX 0 20 50 1 3
AXISY 0 20 50 1 1
AXISZ 0 20 50 1 0
AXISRZ 0 20 50 1 0
