NAME		TERM.........
BIKE		15
BIKECOMP		1
AUTOLEVEL		0.000000
INVERT		0
INVERT_TURN	0
SENSITIVITY		2.000000 2.000000
CDAUD	0
FORWARD		[7]
BACKWARD		[8]
MOVE_UP		enter
MOVE_DOWN		[.]
MOVE_LEFT		page_up
MOVE_RIGHT		[9]
ROLL_LEFT		t
ROLL_RIGHT		y
NITRO		[7]
FIRE1		left_mouse
FIRE2		middle_mouse
MINE		right_mouse
NEXT1		up_mouse
NEXT2		down_mouse
SENDTEXT		space
SELECT2		11	o
PREFERRED1		 5 4 1 2 3 0
PREFERRED2		 6 3 5 4 1 0 9 8 7
MACRO1	you ugly son of a bitch...
MACRO2	Time to die...
MACRO3	I will tear your soul apart...
VALIDATE	2095194708
JOYSTICK
P880
AXISX 0 20 50 1 3
AXISY 0 20 50 1 1
AXISZ 0 20 50 1 0
AXISRZ 0 20 50 1 0
